{% extends 'layout.html' %}

{% block body %}
<!-- Conteneur principal avec padding vertical -->
<div class="container py-md-5 py-3">
  <!-- Titre centré -->
  <h1 class="text-center">Segment Image</h1>
  <!-- Formulaire pour télécharger l'image, aligné au centre -->
  <form action="/segment/" method="post" enctype="multipart/form-data" class="d-flex flex-column align-items-center">
    <input type="file" name="image" accept="image/*" class="my-3">
    <input type="submit" value="Upload" class="btn btn-primary">
  </form>
</div>
{% endblock %} 